.btn-container {
  float: right;
}

.book-image{
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 70%;
}

.fa-eye{
  margin-right: 10px;
}

@media (max-width: 760px) {
  .btn-container {
    margin-bottom: 15px;
  }
}